/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,18,1.333,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {

/* 
                ########################################
                            SCALE UTOPIA SETUP



                ########################################
*/

    --step--1: clamp(0.8rem, 0.7847rem + 0.0765vi, 0.844rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    --step-1: clamp(1.25rem, 1.1632rem + 0.4341vi, 1.4996rem);
    --step-2: clamp(1.5625rem, 1.4107rem + 0.7591vi, 1.999rem);
    --step-3: clamp(1.9531rem, 1.7056rem + 1.2375vi, 2.6647rem);
    --step-4: clamp(2.4414rem, 2.0551rem + 1.9315vi, 3.552rem);
    --step-5: clamp(3.0518rem, 2.4663rem + 2.9271vi, 4.7348rem);

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
  }
  
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

body {
    font-family: system-ui, sans-serif;
    display: grid;
    font-size: var(--step-0);
    /* grid:auto / [left] 1fr [breakout-start] 1fr [content] minmax(0, 1200px) [breakout-end] 1fr [right] 1fr; */
    color: var(--gray-600);
    line-height: 1.7;
    
}
article {
    display: grid;
    place-content: center;
    grid-column: content;
    & > * {
      max-width: 70ch;
    }

}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
  color: var(--gray-800);
  line-height: 1.1;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}
:is(h1, h2, h3) + p {
  --flow-space: 1.5em;
}
h1 { 
    font-size: var(--step-5);
    max-width: 20ch;
}
h2 { 
    font-size: var(--step-4);
    max-width: 28ch;
}
h3 { 
  font-size: var(--step-3);
  max-width: 28ch;
}
h4 { 
  font-size: var(--step-2);
}
h5 { 
  font-size: var(--step-1);
}
.text-small {
        font-size: var(--step--1);
}

/* 
                #######
                SPECIALS
                #######
*/

code {
  font-style: italic;
}
a {
  text-decoration: none;
  :any-link, :active, :visited, :link {
    color: --var(--gray-900);
  }
}
a:hover {
  color: var(--gray-500);
  text-decoration: underline;
}