article {
  display: grid;
  grid-template-columns: [full-start] 1fr [feature-start] 1fr [content] minmax(0, 1200px) [feature-end] 1fr [full-end] 1fr;
  column-gap: 1rem;
  & > * {
    grid-column: content;
  }
  & img {
    grid-column: full / -1;
  }
  & blockquote {
    grid-column: feature-start / full-end;
  }
}

/* Løste på den "nemme" måden. Hvordan kan man ellers lave den? */
